
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-image: url("../image/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/*********************************** Header-section Section starts here ***********************************/
.header-section{
    padding-top: 8px;




   background-color: #3361FF;
}
.header-section .right-menu img{
    height: 40px;

}
.header-section .navbar{

    padding-left: 3%;




}
.header-section .navbar .menu{

    width:40px;
    height:35px;
}



/*********************************** Header-section Section ends here ***********************************/



.user-wrapper{
    min-height: 100vh;
}
/*********************************** user-section Section starts here ***********************************/

.user-section{


    margin-top: -24px;
    margin-bottom: -24px;

}



/************************* user-slider Section starts here *************************/


.user-section .user-sidebar{

    text-align: center;
    background-color: white;
    min-height: 100vh;
    height: 100%;
}
.user-section .user-sidebar{
    padding-top: 50px;
    text-align: center;

}
.user-section .user-sidebar .profile-userpic img{
    height: 15vh;
    width: clamp(50px, 70%, 100px);
    margin-bottom: .5rem;
}

.user-section .user-sidebar .profile-userpic p{

    color: #3361FF;
    font-weight:700;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);

}



.user-section .user-sidebar .sidebar-bottom{
    margin-top: 4vh;
}

.user-section .user-sidebar .sidebar-bottom .sidebar-items{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    place-content: left;
    text-align: left;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;

}
.user-section .user-sidebar .sidebar-bottom .sidebar-items .sidebar-links {
    display:block;
    overflow:auto;

}

.user-section .user-sidebar .sidebar-bottom .sidebar-items a{

    color: black;


}
.user-section .user-sidebar .sidebar-bottom .sidebar-items  i{
    margin-right: 0.7rem;
    font-size: clamp(1rem, 2vw, 1rem);
}
.user-section .user-sidebar .sidebar-bottom .sidebar-items a h5{

    font-size: clamp(.8rem, 1vw, 1rem);
}

.user-section .user-sidebar .sidebar-bottom #u1{

    background-color: #3361FF;
}
.user-section .user-sidebar .sidebar-bottom #u1 a{
    color: white;
}
.user-section .user-sidebar .sidebar-bottom #u1 i{
    color: white;
}


.user-section .user-sidebar .invest-now-button{
    width: 100%;
    text-align: center;
}


.user-section .user-sidebar .invest-now-button .btn{
    width: 50%;
    background-color: #3361FF;
    color: white;
    border: 1px solid #3361FF;
    font-weight: 500;
    padding: 4px;
    font-size: clamp(.6rem, 1vw, 1rem);
}
.user-section .user-sidebar .invest-now-button .btn:hover{
    color: #3361FF;
    background-color: transparent;

}

#rgg:hover{
    color: #FFC107;
    background-color: white;
}

/*********************************** login-section Section starts here ***********************************/
.login-section{
    width: 100%;
    min-height: 100vh;
}

.login-section .login-inner .card-header {
    color: black;
}
.login-section .login-inner .card-header strong{
    color: #3361FF;
    font-size: 1.2rem;
}

.login-section .login-inner{
    margin-top: 50px;
}
.login-section .login-inner .login-form{
    margin-top: 40px;

    padding-bottom: 50px;
}
.login-section .login-inner .login-form .login-btn button{
    background-color: #3361FF;
    border: 1px solid #3361FF;

}
.login-section .login-inner .login-form .login-btn button:hover{
    background-color: transparent;
    border: 1px solid #3361FF;
    color: #3361FF;
}
.login-section .login-inner .login-form .login-btn a{
    color: black;

    text-decoration: none;
}
.login-section .login-inner .login-form .login-btn a:hover{
    color: #3361FF;
}
/*********************************** login-section Section ends here ***********************************/


/*********************************** signup-section Section starts here ***********************************/


.signup-section{
    width: 100%;
    min-height: 100vh;
}

.signup-section .signup-inner{
    margin-top: 50px;
}

.signup-section .signup-inner .card-header{
    color: black;

}
.signup-section .signup-inner .card-header strong{
    color: #3361FF;
    font-size: 1.2rem;
}

.signup-section .signup-inner .signup-form{
    margin-top: 40px;

    padding-bottom: 50px;
}

.signup-section .signup-inner .signup-form button{
    background-color: #3361FF;
    border: 1px solid #3361FF;

}

.signup-section .signup-inner .signup-form button:hover{
    background-color: transparent;
    border: 1px solid #3361FF;
    color: #3361FF;
}

/*********************************** signup-section Section ends here ***********************************/
#primary-btn{
    color: white;
    background-color: #3361FF;
    border: 1px solid #3361FF;
}

#primary-btn:hover{
    color: #3361FF;
    background-color: white;

}



/*********************************** verifyemail-section Section starts here ***********************************/

.verify-section{
    width: 100%;
    min-height: 100vh;
}

.verify-section .verify-inner .card-header {
    color: black;
}

.verify-section .verify-inner{
    margin-top: 50px;
}

.verify-section .verify-inner .verify-form{
    margin-top: 40px;
    padding-bottom: 50px;
}

/*********************************** verifyemail-section Section ends here ***********************************/


/*********************************** Banner Section stars here ***********************************/

.banner-section{
    background-color: #3361FF;
    width: 100%;
    padding-bottom: 2.5rem;
}
.banner-section .banner-inner{
    padding-top: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.banner-section .banner-inner h1{
    font-size: clamp(0.9rem, 2vw + 1rem, 3rem);
}

.banner-section .banner-inner h4{
    padding-top: 5px;
    font-size: clamp(.8rem, 1vw, 1.3rem);

}


.banner-section .banner-inner .btn-one {
    font-weight: 500;
    letter-spacing: .2rem;
    margin-top: 50px;
    color: white;
    transition: all 0.3s;
    position: relative;
  }
.banner-section .banner-inner .btn-one span {
    transition: all 0.3s;
  }
.banner-section .banner-inner .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1.5px;
    border-bottom-width: 1.5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
.banner-section .banner-inner .btn-one:hover span {
    letter-spacing: 2px;
  }
.banner-section .banner-inner .btn-one:hover::before {
    opacity: .8;
    transform: scale(1, 1);
  }
.banner-section .banner-inner .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .banner-section .banner-inner .btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }

/*********************************** Banner Section ends here ***********************************/

