

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-image: url("../image/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/*********************************** Header-section Section starts here ***********************************/
.header-section{
    padding-top: 8px;
    

 

   background-color: #3361FF;
}
.header-section .right-menu img{
    height: 40px;
    
}
.header-section .navbar{
    
    padding-left: 3%;  

      

  
}
.header-section .navbar .menu{
    
    width:40px; 
    height:35px; 

      

  
}


/*********************************** Header-section Section ends here ***********************************/

/*********************************** user-section Section starts here ***********************************/


/************************* user-slider Section starts here *************************/


 .user-sidebar{

    text-align: center;
    background-color: white;
    min-height: 100vh;
    height: 100%;
}
 .user-sidebar{
    padding-top: 50px;
    text-align: center;

}
 .user-sidebar .profile-userpic img{
    height: 15vh;
    width: clamp(50px, 70%, 100px);
    margin-bottom: .5rem;
}

 .user-sidebar .profile-userpic p{

    color: #3361FF;
    font-weight:700;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);

}



 .user-sidebar .sidebar-bottom{
    margin-top: 4vh;
}

 .user-sidebar .sidebar-bottom .sidebar-items{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    place-content: left;
    text-align: left;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 2px;
    position: relative;

}
 .user-sidebar .sidebar-bottom .sidebar-items .sidebar-links {
    display:block;
    overflow:auto;

}

 .user-sidebar .sidebar-bottom .sidebar-items a{

    color: black;


}
 .user-sidebar .sidebar-bottom .sidebar-items  i{
    margin-right: 0.7rem;
    font-size: clamp(1rem, 2vw, 1rem);
}
 .user-sidebar .sidebar-bottom .sidebar-items a h5{

    font-size: clamp(.8rem, 1vw, 1rem);
}

 .user-sidebar .sidebar-bottom #u1{

    background-color: #3361FF;
}
 .user-sidebar .sidebar-bottom #u1 a{
    color: white;
}
 .user-sidebar .sidebar-bottom #u1 i{
    color: white;
}


 .user-sidebar .invest-now-button{
    width: 100%;
    text-align: center;
}


 .user-sidebar .invest-now-button .btn{
    width: 50%;
    background-color: #3361FF;
    color: white;
    border: 1px solid #3361FF;
    font-weight: 500;
    padding: 4px;
    font-size: clamp(.6rem, 1vw, 1rem);
}
 .user-sidebar .invest-now-button .btn:hover{
    color: #3361FF;
    background-color: transparent;

}


/************************* balancetransfer Section starts here *************************/

 .user-info .balancetransfer{
    
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    place-items: center;
    height: 100vh;
}
 .user-info .balancetransfer h4{
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5rem;
}
 .user-info .balancetransfer h4 span{
    color: #3361FF;
    font-weight: 700;

 }

 .user-info .balancetransfer .balancetransfer-inner{
    
    width: 100%;
    text-align: center;
}
 .user-info .balancetransfer .balancetransfer-inner .form-group{
    text-align: left;
    color: black;
}
 .user-info .balancetransfer .balancetransfer-inner .form-group label{
    color: #666668;
    font-weight: 600;
}



 .user-info .balancetransfer .balancetransfer-inner .btn{
    background-color: #3361FF;
    border: 1px solid #3361FF;
    margin-top: 30px;
}

 .user-info .balancetransfer .balancetransfer-inner .btn:hover{
    background-color: transparent;
    color: #3361FF;
}

 .user-info  .balancetransfer-table{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}
 .user-info  .balancetransfer-table .table thead{
    background-color: #3361FF;
    color: white;
}
 .user-info  .balancetransfer-table .table thead th{
    font-weight: 300;
    letter-spacing: 0.1rem;
}


 #scrollbar::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgb(51, 97, 255,.3);
	background-color: #F5F5F5;
}

 #scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

 #scrollbar::-webkit-scrollbar-thumb
{
	background-color: rgb(51, 97, 255);
}


/************************* balancetransfer Section ends here *************************/
